/resources/dev/js/compiled/**
/resources/release/js/compiled/**
figwheel_server.log
pom.xml
*jar
/lib/
/classes/
/out/
/target/
/release
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port
.nrepl-history
