p.error {
  color: red;
}

p.small {
  font-size: 12px;
}

table.config td.value {
  text-align: right;
}

table.config td.title {
  text-align: left;
  font-size: 16px;
  padding: 5px;
  background-color: #e4eef0;
  border-left: 2px solid #feb440;
}

table.computations {
  border-collapse: collapse;
}

table.computations th, table.computations td {
  border: 1px solid #aaaaaa;
  padding: 5px;
}

table.computations td.currency, th.currency {
  text-align: right;
}

table.computations td.currency.negative {
  color: red;
}

table.computations tr.highlighted {
  background-color: #e4eef0;
}
