.error {
  color: red;
}

.small {
  font-size: 12px;
}

.selected {
  text-align: center;
  font-size: 14;
  position: absolute;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  display: none;
  padding: 14px;
  font-family: sans-serif;
  color: #5D6971;
}

h3 {
  margin: 1em 0 0.5em 0;
  font-weight: 600;
  font-family: sans-serif;
  position: relative;
  font-size: 14px;
  line-height: 40px;
  color: #2980b9;
  text-transform: uppercase;
}

.config {
  max-width: 500px;
}

.config .cell .value {
  text-align: right;
}

.config .title {
  text-align: left;
  font-size: 14px;
  padding: 5px;
}
